<dx-map 
#map    
center="UNITEC, Campus Ecatepec, Ecatepec,MX" 
[zoom]="16" 
[height]="400" 
width="100%" 
[provider]="mapProviders[0].key"
[type]="mapTypes[0].key">
</dx-map>

<div class="options">
<div class="caption">Opciones</div>
<div class="option">
    <span>Prveedor de mapas</span>
    <dx-select-box  
        [dataSource]="mapProviders" 
        displayExpr="name" 
        valueExpr="key" 
        [(value)]="map.provider">
    </dx-select-box>
</div>
<div class="option">
    <span>Tipo de Mapa</span>
    <dx-select-box 
        [dataSource]="mapTypes" 
        displayExpr="name" 
        valueExpr="key" 
        [(value)]="map.type">
    </dx-select-box>
</div>
</div>
<router-outlet></router-outlet>
